@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}
/* navbar start*/
.navbar-expand-lg{
    font-weight: bold;
     background-color: #0A9696 !important;
}
.navbar .navbar-brand{
    margin-left: 70px;
   
}
.navbar-collapse .ms-auto{
    margin-right: 70px !important;
}
.navbar a{
    color:white !important;
}

.nav-item .dropdown-menu{
    background-color: #0A9696;
} 
.navbar-expand-lg .dropdown-menu :hover {
    color:black !important;
    
  } 
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

/* about us */

#about p {

    color:rgb(80, 77, 77);
    font-size: 18px; 
    text-align: justify;  
}

#about .aboutcompany{

    color:#0A9696;
}
/* why choose us */
#chooseus{
    background-color: rgb(193 197 196 / 10%);
}
#chooseus .choosecompany p{
    font-size: 18px;
    color:grey;
    text-align: center;
}
#chooseus .card{
    border-radius: 40px;
}
#chooseus .card img{
    width: 50px;
    height:50px;
    margin-left: 35px;   
}
#chooseus .card-text{
    font-size: 18px;
}
#chooseus .card-title{
    font-weight: bold;
}
#chooseus .card .reasontochoose{
    
    margin-left: 25px; 
    color: skyblue;
    font-size: 35px;
    padding: 18px;

}

/* whatclentssay */
#testimonials .vr{
    border: 1.5px solid rgb(80, 78, 78);
    height:90px;
    top: 30px;
}
.testimonial-title{
    padding-right: 20px;
}
.testimonial-title-client{
    color:#0A9696;
}
#testimonials .clientsopinion p{
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    color: rgb(116, 102, 102);
    
    padding-left: 20px;
}
#testimonials .card{
    border-radius: 40px;
    
}
#testimonials .card-body .perspective{
    font-size: 18px;
    text-align: justify;
    color:rgb(53, 51, 51);
    line-height: 26px;

}
#testimonials .card img{
    border-radius: 50px;
   
    width:80px;
    height:80px;
}
#testimonials .card .trustworthy-people .position{
       color:rgb(70, 69, 69);
}
#testimonials .card .trustworthy-people  h5{
     font-weight: 600;
  
}
section{
    margin-top: 80px;
}
/* footer */
.footer{

    background-color: #0A9696 !important;

}
.footer .icons{
    font-size: 23px ;
    color: white ;
}
.footer li a{
    color:white ;
}
.footer h4{
    color:white;
}
.footer .copyright{
    background-color: rgba(197, 192, 192, 0.2);
    color:white ;
}
.footer .copyright a{
    color:white ;
}