@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}
/* navbar start*/
.navbar-expand-lg{
    font-weight: bold;
     background-color: #fff;
}
.navbar .navbar-brand{
    margin-left: 70px;
   
}
.navbar-collapse .ms-auto{
    margin-right: 70px !important;
}
.navbar a{
    color:#000;
    font-size: 20px;
}
.nav-item .dropdown-menu{
    background-color:#0A9696 ;

}
.navbar-expand-lg .dropdown-menu :hover {
    color:black !important;
    
}
.nav-item .dropdown-menu{
    background-color: #0a9696bb;
} 
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
/* footer */
.footer{
  background-color: #0a9696c7 !important;
}
.footer .icons{
    font-size: 23px ;
    color:white;
}
.footer li a{
    color:white;
}
.footer h4{
    color:white;
}
.footer .copyright{
    color:white;
}
.footer .copyright a{
    color:white;
}
