@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}



h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    margin-bottom: 20px;
    text-align: center;
}

h4 {}

p {
    font-size: 18px;
}

.card {
    height: 100%;
}

ul li {
    list-style: none;
}

span {
    color: aqua;
}

.fixed-whatsapp {
    position: fixed;
    bottom: 50px;
    left: 50px;
    border: none;
    background: none;
    background: #25D366;
    border-radius: 50px;
}



.btn {
    background: aqua;
    font-size: 18px;
}

#hero {
    height: 100%;
}

#hero h1 {
    justify-content: center;
    margin-top: 50px;
}

#hero iframe {
    margin-top: 50px;
}

#hero p {
    font-size: 30px;
    margin-top: 40px;
}

#hero input {
    border-radius: 5px;
}

#hero form {
    margin-top: 20px;
}

/* HERO SECTION END */

#main {
    background-color: rgba(0, 255, 255, 0.226);
    height: 100%;
    width: 100%;
    margin-top: 50px;
}



#banner {
    height: 100%;
    width: 100%;
}

#banner img {
    text-align: center;
    margin-top: 40px;
}

#banner p {
    text-align: center;
    margin-top: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* BANNER SECTION END */

#mainpage {
    background: rgba(105, 225, 225, 0.295);
}

.swiper {
    width: auto;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



body {
    font-size: 18px;
    font-weight: 400;
    /* }
.p-y-2 {
padding-top: 28px;
padding-bottom: 28px;
}
.p-y-3 {
padding-top: 45px;
padding-bottom: 45px;
}
.m-b-1 {
margin-bottom: 18px; 
}
.m-t-1 { 
margin-top: 18px; */
}

/* END SECTION */
#main-page2 p {
    margin-top: 20px;
    margin-bottom: 20px;
}







/* 
MAIN PAGE END */

#main-page3 {
    background: rgba(0, 255, 255, 0.167);
    height: 100%;
}

#main-page3 input {
    border-radius: 5px;
    margin-top: 30px;
}

#main-page3 p {
    margin-top: 30px;
}

#main-page3 button {
    margin-top: 30px;
}

#main-page .book {
    text-align: start;
    margin-top: 30px;
}

/* END SECTION */

#top-footer h5{
   margin-top: 50px;

}

#top-footer img {}

i {
    color: #ffff;
    font-size: 30px;
    padding: 4px;
    align-items: center;

}